
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 8%;
  font-size: 9px;
  background-color: #0d2c92;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 32px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: rgb(5, 0, 0);
  color: white;
}

h2 {
  text-align: center;
}

.banner {
  color:blue;
  visibility: show;
}